@import "@/assets/css/mixin.scss";
.gohapply{
  @include center();
  word-break: normal;
  font-size:30px;
  color:#fff;
}

header {
  .van-swipe {
    width: 100%;
    height: 341px;

    .van-swipe-item {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  /deep/ .van-swipe__indicators {
    left: 619px;
    bottom: 45px;
  }

  /deep/ .van-search {
    position: absolute;
    top: 16px;
    width: 100%;

    .van-cell {
      background: rgba(255, 255, 255, 1);
      opacity: 0.8;
      border-radius: 32px;
    }
  }
}

nav {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, -41px);
  width: 688px;
  height: 280px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
  border-radius: 20px;

  .item {
    width: 50%;
    box-sizing: border-box;
    padding: 0 30px;

    p {
      font-size: 22px;
      font-family: SourceHanSansCN-Regular;
      font-weight: 400;
      width: 310px;
      color: rgba(145, 147, 157, 1);
    }

    .icon {
      display: inline-block;
      width: 39px;
      height: 41px;
     
    }
    .guahao{
      @include bis('src/assets/icon/服务诊所@2x.png')
    }
    .zhuanjia{
      @include bis('src/assets/icon/诊所医生@2x.png')
    }
    .peizheng{
      @include bis('src/assets/icon/服务人员@2x.png')
    }
    .jiuyi{
      @include bis('src/assets/icon/订单@2x.png')
    }
    .title {
      margin: 25px 0 5px 0;
      text-align: left;
      font-size: 32px;
      font-family: SourceHanSansCN-Bold;
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
    }
  }
}

main {
  padding: 0 31px;
  box-sizing: border-box;
  overflow: hidden;
}

.menu {
  padding: 240px 36px 0;
  @include fj("center");
  flex-wrap: wrap;

  .item {
    @include fj(center);
    flex-direction: column;
    align-items: center;
    @include wh(25%, 200px);

    img {
      width: 102px;
      height: 76px;
    }

    p {
      @include sc(22px, rgba(73, 73, 73, 1));
      margin-top: 9px;
    }
  }
}

.banner {
  @include wh(auto, auto);
  margin: 20px auto 0;

  img {
    @include wh(100%, 100%);
  }
}

.happly-go {
  @include wh(688px, 457px);
  @include bis('src/assets/images/正在乐拼.png');
  position: relative;
  box-shadow: 0 11px 10px rgba(233, 79, 71, 0.1);
  margin: 40px auto 0;
  border-radius: 20px;

  .top {
    height: 84px;
    @include fj(space-between);
    @include sc(34px,#fff);
    padding: 0 30px;
    align-items: center;
  }

  .van-swipe {
    width: 100%;
    height: 370px;

    .van-swipe-item {
      @include fj(space-around);
      padding: 0 20px;
      box-sizing: border-box;
      .item{
        
        width:200px;
        height:315px;
        background:rgba(255,255,255,1);
        padding: 13px;
        box-sizing: border-box;
        border-radius:9px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
          width:174px;
          height:174px;
          border-radius:12px;
        }
        p{
          font-size:22px;
          font-weight:bold;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          color:rgba(44,44,44,1);
        }
        .pice{
          align-self: flex-start;
          margin-top: 10px;
          span{
            width:45px;
            height:20px;
            font-size:26px;
            font-weight:bold;
            color:rgba(231,39,66,1);
            line-height:35px;
          }
          del{
            font-size:20px;
            font-weight:400;
            text-decoration:line-through;
            color:rgba(180,180,180,1);
            line-height:35px;
          }
        }
      }
    }
  }
}
.more{
  display: block;
  height:22px;
  font-size:24px;
  font-weight:400;
  color:rgba(129,129,129,1);
}
.hserve {
  .content {
    @include fj();
    flex-wrap: wrap;

    .item {
      @include wh(336px, 160px);
      margin-top: 15px;
    }
  }
}

.community {
  .content {
    .item {
      display: flex;
      position: relative;
      align-items: center;
      height: 140px;
      background-color: #ffffff;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
      border-radius: 9px;
      box-sizing: border-box;
      margin-bottom: 31px;
      padding: 0 30px;
      img {
        width: 100px;
        height: 100px;
      }

      div {

        p {
          font-size: 34px;
          font-weight: 500;
          color: rgba(76, 76, 77, 1);
          padding-left: 25px;
          margin-bottom: 15px;
        }

        span {
          padding-left: 25px;
          line-height: 24px;
          letter-spacing: 0px;
          color: #9c9c9c;
          font-size: 26px;
        }
      }

      button {
        position: absolute;
        right: 30px;
        width: 180px;
        height: 60px;
        color: #fff;
        border: none;
        background-image: linear-gradient(90deg,
            #21cce6 0%,
            #2194e6 100%),
          linear-gradient(#f3bf10,
            #f3bf10);
        background-blend-mode: normal,
          normal;
        box-shadow: 0px 5px 10px 0px rgba(33, 203, 230, 0.4);
        border-radius: 30px;
      }
    }
  }
}

.pharmacy {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    .left {
      font-size: 34px;
      font-weight: bold;
      span {
        color: rgba(75, 157, 243, 1);
        background-image: url();
      }
    }
  }
  .content{
    .item{
      @include fj();
      img{
        width: 100%;
      }
      &>div{
        flex: 1;
      }
    }
  }
}
.hot_to{
  padding: 20px;
  p{
    font-size:28px;
    margin-top: 30px;
  }
  span{
    font-size: 24px;
    color: rgba(156, 156, 156, 1);
  }
  em{
    color: rgba(231, 39, 66, 1);
    font-style: normal;
  }
  .top{
    display: flex;
    flex-wrap: wrap;
    li{
      box-sizing: border-box;
      width: 50%;
      height: 140px;
      padding: 20px;
    
      img{
        float: right;
        width: 100px;
        height: 100px;
      }
      border-bottom: 1px solid #9c9c9c;
      &:nth-child(2n){
        border-left: 1px solid #9c9c9c;
        border-bottom: 1px solid #9c9c9c;
      }
    }
  }
  .bottom{
    display: flex;
    li{
      flex: 1;
      border-left: 1px solid #9c9c9c;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p,span{
        align-self: flex-start;
        padding: 0 0 0 15px;
      }
      &:first-child{
        border-color:transparent ;
      }
    }
    img{
      width:136px;
      height:136px;
    }
  }
}
.hot_buy{
  .content{
    display: flex;
    flex-wrap: wrap;
    .item{
      width: 33.33%;
      box-sizing: border-box;
      img{
        width:180px;
        height:180px;
        margin: auto;
      }
      .t{
        font-size:24px;
        font-weight:bold;
        color:rgba(44,44,44,1);
      }
      .info{
        display: flex;
        margin-top: 23px;
        .pice{
          color: rgba(231, 39, 66, 1);
          font-size: 30px;
          font-weight: bold;
          line-height:35px;
          margin-right: 13px;
        }
        .del{
          font-size:20px;
          text-decoration:line-through;
          vertical-align: bottom;
          color:rgba(180,180,180,1);
          line-height:35px;
        }
      }
    }
  }
}
